doctype html
html
  head
    title= 'Franquicias'
  body
    h1 Órdenes
    h2 Hacer una orden
    form(method='POST' action='/franquicia/ordenes')
        div.form-group
            label(for='to') Seleccionar:
            select(name='to')
              each supplier in suppliers
                option(value=supplier.id) #{supplier.name}
    
        h3 Productos
        - for (var i = 0; i < products.length; i++)
            if products[i].available
              div.form-group
                  input(type="checkbox", name="on_#{products[i].id}") 
                  | #{products[i].name} 
                  input(type="number", name="quant_#{products[i].id}", min=1, max=1000) 

        button.btn.btn-primary(type='submit') Ordenar

    h2 Órdenes a recibir
    each order in orders
      if order.sent && !order.received
        h2 Orden #{order.id}
        h3 Enviado por:
        p #{order.to}
        h3 Productos:
        each product in order.products
            p #{product.name} Cantidad: #{product.quantity}
        form(method='POST' action='/franquicia/recibir_ordenes')
              button(type='submit', name='order_id', value='#{order.id}') Recibir
        br
        br

    a(href='/franquicia/home') Inicio
