doctype html
html
  head
    title= 'Franquicias'
  body
    h1 Pagos
    h2 Pagos por Órdenes
    h3 Pendientes
    each payment in order_payments
        unless payment.paid
            p Pago ##{payment.id}: $#{payment.amount}
            form(method='POST' action='/franquicia/pagos')
              button(type='submit', name='order_payment', value='#{payment.id}') Pagar
    h3 Realizados
    each payment in order_payments
        if payment.paid
            p Pago ##{payment.id}: $#{payment.amount}

    h2 Pagos por Contabilidad
    h3 Pendientes
    each payment in acc_payments
            unless payment.paid
                p Pago ##{payment.id}: $#{payment.amount}
                form(method='POST' action='/franquicia/pagos')
                  button(type='submit', name='acc_payment', value='#{payment.id}') Pagar

    h3 Realizados
    each payment in acc_payments
            if payment.paid
                p Pago ##{payment.id}: $#{payment.amount}


    a(href='/franquicia/home') Inicio
