doctype html
html
  head
    title= 'Franquicias'
  body
    h1 Reportes
    each store in stores
      h2 #{store.name}
      p Inventario: #{store.report.stock}
      p Ventas: #{store.report.sales}
      p Unidades vendidas: #{store.report.sold_units}
      br

    a(href='/master/home') Inicio
