doctype html
html
  head
    title= 'Plenia'
  body
    h1 Reportes
    each store in stores
        h4 #{store.name}
        p Inventario: #{store.stock}
        p Ventas: #{store.sales}
        p Unidades vendidas: #{store.sold_units}
        br

    a(href='/plenia/home') Inicio
